<button class="login btn btn-default" id="login" onclick="document.location.href='/login'">Login</button>

<header>
    <img src="/img/logo.png" alt="Good Mark" width="100px"/>
</header>

<main>
    <div id="container">
        <h6 class="title">You've collected</h6>
        <h6 class="points">points</h6>
    </div>

    <section id="causes">
        <h1 class="text-center">Welcome to GoodMark! </h1>
        <div class="container">
            <h3 class="text-center">Your Causes</h3>
            <br>
            <div class="row">
                <div class="col-sm">
                    <h6>Mind</h6>
                    <button id="mind" class="charity-donate" onclick="console.log('mind')"></button>
                </div>
                <div class="col-sm">
                    <h6>Shelter</h6>
                    <button id="shelter" class="charity-donate" onclick="console.log('shelter')"></button>
                </div>
            </div>
        </div>
    </section>

    <section id="outlets">

        <div class="container">
            <h3 class="text-center">Your Spend</h3>
            <br>
            <br>
            <div class="row">
                <div class="col-sm">
                    <img src="/img/wholefoods.jpg"/>
                    <h6><strong>143 points</strong></h6>
                    <h7>£{{{ helpers.vendors }}} spent</h6>
                </div>
                <div class="col-sm">
                    <img src="/img/wholefoods.jpg"/>
                    <h6><strong>143 points</strong></h6>
                    <h7>£64.40 spent</h6>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-sm">
                    <img src="/img/lush.jpg"/>
                    <h6><strong>64 points</strong></h6>
                    <h7>£35.35 spent</h6>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-sm">
                    <img src="/img/newbalance.jpg"/>
                    <h6><strong>56 points</strong></h6>
                    <h7>£42.47 spent</h6>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-sm">
                    <img src="/img/chillys.jpg"/>
                    <h6><strong>35 points</strong></h6>
                    <h7>£25.47 spent</h6>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <img src="/img/costa.png">
                    <h6><strong>143 points</strong></h6>
                    <h7>£64.40 spent</h6>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-sm">
                    <img src="/img/otherstories.jpg">
                    <h6><strong>64 points</strong></h6>
                    <h7>£35.35 spent</h6>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-sm">
                    <img src="/img/waitrose.jpg">
                    <h6><strong>56 points</strong></h6>
                    <h7>£42.47 spent</h6>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-sm">
                    <img src="/img/fairtrade.png">
                    <h6><strong>35 points</strong></h6>
                    <h7>£25.47 spent</h6>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <section id="friends">
        <div class="container">
          <h3 class="text-center">Friends</h3>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/img/jackson.jpg" width="75px" />
                </div>
                <div class="col-sm-10">
                    <h6>Hugh</h6>
                    <div id="hugh"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/img/julia.jpg" width="75px" />
                </div>
                <div class="col-sm-10">
                    <h6>Julia</h6>
                    <div id="julia"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="/img/tamran.jpg" width="75px" />
                </div>
                <div class="col-sm-10">
                    <h6>Tamran</h6>
                    <div id="tamran"></div>
                </div>
            </div>
            <br>
      </div>
    </section>

    <section id="transactions">
      <div class="container">
        <h3 class="text-center">Transactions</h3>
        <table class="table" width="100%">
          <thead>
            <th>Good Mark</th>
            <th>Date</th>
            <th>Merchant</th>
            <th>Amount</th>
          </thead>
          <tbody>
            {{#each helpers.data}}
              <tr>
                <td>
                  {{#if this.goodMark}}
                    <img src="/img/logo.png" alt="Good Mark" width="100px"/>
                  {{^}}
                    <span></span>
                  {{/if}}
                </td>
                <td> {{this.BookingDateTime}} </td>
                <td> - </td>
                <td> £{{this.Amount.Amount}} </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        </div>
    </section>
</main>

<script>
    var user = new ProgressBar.Circle(container, {
        color: '#fff',
        strokeWidth: 4,
        trailWidth: 1,
        easing: 'easeInOut',
        duration: 1400,
        text: {
            autoStyleContainer: false
        },
        from: { color: '#fff', width: 1 },
        to: { color: '#fff', width: 4 },
        // Set default step function for all animate calls
        step: function(state, circle) {
            circle.path.setAttribute('stroke', state.color);
            circle.path.setAttribute('stroke-width', state.width);

            var value = Math.round(circle.value() * 367);
            if (value === 0) {
                circle.setText('');
            } else {
                circle.setText(value);
            }
        }
    });
    user.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
    user.text.style.fontSize = '2rem';
    user.animate(0.67);  // Number from 0.0 to 1.0

    new ProgressBar.Line('#hugh', {easing: 'easeInOut', color: '#fff', from: { color: '#fff', width: 1 }, to: { color: '#fff', width: 4 }, step: function(s, i) {i.setText('450 points')}}).animate(0.32);
    new ProgressBar.Line('#julia', {easing: 'easeInOut', color: '#fff', from: { color: '#fff', width: 1 }, to: { color: '#fff', width: 4 }, step: function(s, i) {i.setText('873 points')}}).animate(0.87);
    new ProgressBar.Line('#tamran', {easing: 'easeInOut', color: '#fff', from: { color: '#fff', width: 1 }, to: { color: '#fff', width: 4 }, step: function(s, i) {i.setText('628 points')}}).animate(0.51);
    console.log({{{ helpers.vendors }}})
</script>