<header>
    <img src="/img/logog.png" alt="Good Mark" width="100px"/>
</header>

<main>
    <div id="container">
        <h6 class="title">You've collected</h6>
        <h6 class="points">points</h6>
    </div>

    <section id="causes">
        <h6>This Months Causes</h6>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h6>Mind</h6>
                    <img src="/img/mind.jpg" width="100px">
                </div>
                <div class="col-sm">
                    <h6>Shelter</h6>
                    <img src="/img/shelter.jpg" width="100px">
                </div>
            </div>
        </div>
    </section>

    <section id="outlets">
        <h6>Your Spend</h6>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img src="/img/wholefoods.jpg" width="75px">
                    <h6><strong>143 points</strong></h6>
                    <h6>£64.40 spent</h6>
                </div>
                <div class="col-sm">
                    <img src="/img/lush.jpg" width="75px">
                    <h6><strong>64 points</strong></h6>
                    <h6>£35.35 spent</h6>
                </div>
                <div class="col-sm">
                    <img src="/img/newbalance.png" width="75px">
                    <h6><strong>56 points</strong></h6>
                    <h6>£42.47 spent</h6>
                </div>
                <div class="col-sm">
                    <img src="/img/chillys.jpg" width="75px">
                    <h6><strong>35 points</strong></h6>
                    <h6>£25.47 spent</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <img src="/img/costa.png" width="75px">
                    <h6><strong>143 points</strong></h6>
                    <h6>£64.40 spent</h6>
                </div>
                <div class="col-sm">
                    <img src="/img/otherstories.jpg" width="75px">
                    <h6><strong>64 points</strong></h6>
                    <h6>£35.35 spent</h6>
                </div>
                <div class="col-sm">
                    <img src="/img/waitrose.jpg" width="75px">
                    <h6><strong>56 points</strong></h6>
                    <h6>£42.47 spent</h6>
                </div>
                <div class="col-sm">
                    <img src="/img/fairtrade.png" width="75px">
                    <h6><strong>35 points</strong></h6>
                    <h6>£25.47 spent</h6>
                </div>
            </div>
        </div>
    </section>

    <section id="friends">
        <h6>Friends</h6>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img src="/img/jackson.jpg" width="75px">
                    <h6>Jackson</h6>
                </div>
                <div class="col-sm">429 points</div>
            </div>
        </div>
    </section>
</main>

<script>
    // progressbar.js@1.0.0 version is used
    // Docs: http://progressbarjs.readthedocs.org/en/1.0.0/

    var bar = new ProgressBar.Circle(container, {
        color: '#fff',
        // This has to be the same size as the maximum width to
        // prevent clipping
        strokeWidth: 4,
        trailWidth: 1,
        easing: 'easeInOut',
        duration: 1400,
        text: {
            autoStyleContainer: false
        },
        from: { color: '#fff', width: 1 },
        to: { color: '#fff', width: 4 },
        // Set default step function for all animate calls
        step: function(state, circle) {
            circle.path.setAttribute('stroke', state.color);
            circle.path.setAttribute('stroke-width', state.width);

            var value = Math.round(circle.value() * 367);
            if (value === 0) {
                circle.setText('');
            } else {
                circle.setText(value);
            }

        }
    });
    bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
    bar.text.style.fontSize = '2rem';

    bar.animate(0.67);  // Number from 0.0 to 1.0
</script>