body {
    height: 300vh;
    margin: 0;
    padding: 0;
    background-color: #34a348;
    background-image: radial-gradient(#38b34c 25%, #38b34c 25%, #2f8b49 100%);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Nunito", sans-serif;
    color: #fafafa;
}

button#login {
    background-color: #fafafa;
    display: block;
    margin: 200px auto 0 auto;
}

header {
    display: block;
    height: 75px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: -40px;
}

header > img {
    float: left;
}

main {
    text-align: left;
    padding: 0px;
}

main > h6 {
    width: 10px;
}

main > #container {
    width: 200px;
    height: 200px;
    margin: 10px auto;
}

main > div > div.progressbar-text {
    top: 155px !important;
}

main > div#container > h6 {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
}

main > div#container > h6.title {
    top: 110px;
}
main > div#container > h6.points {
    top: 175px;
}

main > section {
    margin: 20px 0px;
    padding: 50px;
}

main > section#causes {
    margin-top: -25px;
    margin-bottom: 40px;
}

main > section#outlets, main > section#transactions  {
    background-color: rgba(255, 255, 255, 0.05);
    border-top: 1px solid #2d8141;
    border-bottom: 1px solid #2d8141;
}

main > section#outlets > div > div > div.col-sm > img {
    height: 100px;
    width: 100px;
}

main > section#friends > div.container > div.row {
    text-align: left;
}

main > section > h6 {
    font-weight: bold;
    margin: 10px 0 25px 0 ;
    color: rgb(224, 255, 225)
}

h7 {
    margin-top: -5px;
    font-size: 9pt;
    display: block
}

button.charity-donate {
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    background-size: contain;
}

button.charity-donate:hover {
    margin-left: -2px;
    margin-top: -2px;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.4);
}
button.charity-donate:active {
    margin-left: 2px;
    margin-top: 2px;
    -webkit-box-shadow: -2px 0px 9px 0px rgba(0,0,0,0);
    -moz-box-shadow: -2px 0px 9px 0px rgba(0,0,0,0);
    box-shadow: -2px 0px 9px 0px rgba(0,0,0,0);
}

button#mind { background-image: url("/img/mind.jpg") }
button#shelter { background-image: url("/img/shelter.jpg") }

div.row {
    text-align: center;
}

div.row img {
    /*width: 50px;*/
    border-radius: 15px;
    margin-bottom: 10px;
}

#hugh > .progressbar-text { left: 45% !important; }
#julia > .progressbar-text { left: 95% !important; }
#tamran > .progressbar-text { left: 65% !important; }

.login {
  background-color: #fafafa;
  display: block;
  width: 150px;
  font-weight: bolder;
  margin: 200px auto 0 auto;
  height: 50px;
  text-transform: capitalize;
  box-shadow: 1px 2px 7px black;
  position: absolute;
  right: 5px;
  top: -195px;
}